/**
 * TOC Block - Editor Styles
 *
 * Styles specifically for the WordPress block editor.
 * Handles alignment and layout in the editor context.
 *
 * @package
 * @since 1.0.0
 */

/* Gutplus TOC alignment for editor */
.gutplus-toc {
	margin-top: 1em !important;
	margin-bottom: 1em !important;
	overflow: hidden !important;

	&.gutplus-align-left {
		margin-left: 0 !important;
		margin-right: auto !important;
	}

	&.gutplus-align-center {
		margin-left: auto !important;
		margin-right: auto !important;
	}

	&.gutplus-align-right {
		margin-left: auto !important;
		margin-right: 0 !important;
	}
}
