/**
 * Accordion Block - Editor Styles
 *
 * Styles specifically for the WordPress block editor.
 * Handles alignment and layout in the editor context.
 *
 * Note: .accordion-item is now the root element with classes:
 * accordion-item wp-block-accordion sammu-blocks
 *
 * @package
 * @since 1.0.0
 */

/* Accordion item - root element in editor */
.accordion-item.wp-block-accordion {
	margin-top: 1em !important;
	margin-bottom: 1em !important;

	// Alignment classes
	&.sammu-blocks-align-left {
		margin-left: 0 !important;
		margin-right: auto !important;
	}

	&.sammu-blocks-align-center {
		margin-left: auto !important;
		margin-right: auto !important;
	}

	&.sammu-blocks-align-right {
		margin-left: auto !important;
		margin-right: 0 !important;
	}
}

